deploy_hprose/server/bin
/DeployServer/.vs
/DeployServer/DeployClient/obj
/DeployServer/DeployServer/bin/Debug/net7.0
/DeployServer/DeployServer/obj
/DeployServer/Entity/bin/Debug/netstandard2.1
/DeployServer/Entity/obj
/DeployServer/Ext/obj
/DeployServer/Interface/bin/Debug/netstandard2.1
/DeployServer/Interface/obj
maui_deploy_client/MAUIDeployClient/.vs
/DeployServer/DeployClient/bin/Debug/net7.0-windows
/DeployServer/HttpServices/obj
/DeployServer/DeployClient/bin
/DeployServer/Interface/bin/Release/netstandard2.1
/DeployServer/Entity/bin/Release/netstandard2.1
DeployServer/DeployClientMAUI/bin
DeployServer/DeployClientMAUI/obj
DeployServer/TestProject1/bin
DeployServer/TestProject1/obj
/DeployServer/Ext/bin/Debug/net7.0
/DeployServer/ConsoleApp1/bin/Debug/net7.0
/DeployServer/ConsoleApp1/obj
DeployServer/DeployServer/deploy.db
DeployServer/DeployServer/deploy-log.db
/DeployServer/DeployServer/bin/Release/net7.0
/DeployServer/Ext/bin/Release/net7.0
/DeployServer/WSRPC/bin
/DeployServer/WSRPC/obj
/DeployServer/ConsoleApp1/update.zip
/DeployServer/ConsoleApp1/win-x64.zip
/DeployServer/update/bin
/DeployServer/update/obj
DeployServer/DeployServerV2/bin/Debug/net7.0
DeployServer/DeployServerV2/bin/Release/net7.0
DeployServer/DeployServer/logs
DeployServer/Linx/bin
DeployServer/Linx/obj
